<?php
echo $this->getStyles();
$html = '';
$protocol = (!empty($_SERVER['HTTPS']) && $_SERVER['HTTPS'] !== 'off' || $_SERVER['SERVER_PORT'] == 443) ? "https://" : "http://";
$tempurl = substr($_SERVER['REQUEST_URI'],0,strpos($_SERVER['REQUEST_URI'],'/plugins/randmar/')+17);
//$url = $protocol . $_SERVER['HTTP_HOST'] . $tempurl . 'assets/imgs/epson_cartridge.png';
$url = $protocol . $_SERVER['HTTP_HOST'] . $tempurl . 'assets/imgs/logo_pgtech_no_data.jpg';

$supplies = $this->getRandmarAdapter()->retrievePrinterByTitle(str_replace(' ', '-',$this->getData('printerTitle')))->Supplies;
$manufacturerId = $this->getRandmarAdapter()->retrievePrinterByTitle(str_replace(' ', '-',$this->getData('printerTitle')))->ManufacturerId;
$url_pic = '';
$supply_ids = array();
$profit_margin = Mage::getStoreConfig('randmar/default/default_profit')*1;
        //$profit_margin = 20;
$profit_factor = 100/(100 - $profit_margin);

foreach ($supplies as $supply) {
//$title = trim($supply->DescriptionFr);
//if(strlen($title)==0) $title = trim($supply->TitleFr);
if($supply->ProductType != 'Supply' || in_array($supply->SupplyId, $supply_ids)) {
continue;
}
$supply_ids[] = $supply->SupplyId;
//$supply = $randmarAdapter->retrieveProductById($supply->RandmarSKU);
//$supply = $supply;
//print_r($supply);
if(Mage::getStoreConfig('randmar/default/profit_'.$manufacturerId)!="") {
    $profit_margin = Mage::getStoreConfig('randmar/default/profit_'.$manufacturerId)*1;
    $profit_factor = 100/(100 - $profit_margin);
}
$title = trim($supply->TitleEn);
$description = trim($supply->DescriptionEn);
if(Mage::app()->getLocale()->getLocaleCode()=="fr_FR") {
$title = trim($supply->TitleFr);
$description = trim($supply->DescriptionFr);
}
$sup_pic = trim($supply->Picture);
if(strlen($sup_pic)>0) $url_pic = $sup_pic;
else $url_pic = $url;
/*$in_english = strcmp($lang,'en')==0? '/en':'';*/
?>

<div class='cartridge-result supply-<?= $supply->SupplyId ?>'>
    <div class='cartridge-pic floating-div'>
        <a href='<?= $this->getBaseUrl() ?>randmar/index/supply/mpn/<?= $supply->MPN ?>/' >
        <img src='<?= $url_pic ?>'>
        </a>
    </div>
    <div class='catridge-info floating-div'>
        <a href='<?= $this->getBaseUrl() ?>randmar/index/supply/mpn/<?= $supply->MPN ?>/' >
        <div class='catridge-title'><?= $title ?></div></a>
        <div class='catridge-data'><?= $supply->Technology?> <br /><?= $supply->Color?><br /><?= $supply->PageYield ?> Pages<!-- Article:$supply->SupplyId
				<ul>
				<li>Noire</li>
				<li>N° du fabricant: ".$supply->RandmarInfo->PartNumber."</li>
				<li>Description: ".$description."</li>
				</ul -->
        </div>
    </div>
    <div class='quantity-section floating-div'>
        <div class='stock-section'><br />
            <div class='stock-title'><?= Mage::helper('deven_randmar')->__('Availability of stock')?></div><br />
            <div class='stock-info'>

                <?php
                $html_montreal = '';
                $html_2 = '';
                $count_disponibility = 0;

                if(is_array($supply->RandmarInfo->Warehouses)) {

                foreach ($supply->RandmarInfo->Warehouses as $warehouse) {
                //if($warehouse->Quantity > 0) {
                $count_disponibility += $warehouse->Quantity*1;
                if(strcmp('MTL', trim($warehouse->Id)) == 0) {
                $html_montreal = '<tr><td>' . $warehouse->Name . '</td><td>' . $warehouse->Quantity . '</td></tr>';
                } else {
                $html_2 .= '<tr><td>' . $warehouse->Name . '</td><td>' . $warehouse->Quantity . '</td></tr>';
                }
                //}
                }

                }

                //if($count_disponibility > 0)
                echo str_replace('Randmar ', '', '<table>' . $html_montreal . $html_2 . '</table>');
                //else
                //	$html .= $translations[$lang]['unavailable'] . '<br>'; //Currently not stock available
                echo "</div>"; ?>
        </div>
    </div>
    <div class='cart-section floating-div'><br />
        <div class='price'><?= number_format(round($supply->RandmarInfo->Price*$profit_factor,2),2)?>$</div>
        <input name='quantity' class='quantity-input' type='number' min='0' step='1' value='1'>
        <div id='<?= $supply->SupplyId ?>' class='add-button'><?= Mage::helper('deven_randmar')->__('Add to cart')?></div>
    </div>
</div><!-- cartridge-result -->
<hr class='cartridge-result-rule'>
<?php } ?>

<?php
if(count($supplies) == 0) {
?> <br/><hr class='cartridge-result-rule'>
<div class='no-results'><?= Mage::helper('deven_randmar')->__('No cartridges found') ?></div>
<hr class='cartridge-result-rule'><br/> //Not cartridges found
<?php } ?>