<?php echo $this->getStyles(); ?>
<div class="page-title">
    <h1><?php echo Mage::helper('deven_randmar')->__('Ink and Toner Original Cartridges | Free shipping throughout Canada for all orders above $100*') ?></h1>
</div>
<div id='randmar-locator' class='main-randmar-locator' siteurl='<?php echo $this->getBaseUrl() ?>'>
    <div class='overlay'><div class='loading'><img src='<?php echo $this->getSkinUrl('images/randmar/loading-2.gif') ?>'></div></div>
    <div class='locator-buttons-container'>
        <div class='drop same-row-left'style='display:none;'>&nbsp;</div>
        <div class='pgtech-button pink-button same-row-left'style='display:none;'><?php echo Mage::helper('deven_randmar')->__('Localisateur de cartouches d&#39;origines')?></div>
        <div id='search-by-number-button' class='pgtech-button blue-button same-row-right' style='display:none;'><?php echo Mage::helper('deven_randmar')->__('Par num&eacute;ro') ?></div>
        <div id='search-by-brand-button' class='pgtech-button yellow-button same-row-right current-search' style='display:none;'><?php echo Mage::helper('deven_randmar')->__('Par marque') ?></div>
        </div><!-- end of locator-buttons-container -->
    <div class='search-by-brand-container'>
        <div class='black-circle same-row-left'>1</div><div class='same-row-left'><font id='label-1' class='font-26 line-40 black bold'><?php echo Mage::helper('deven_randmar')->__('Choose your brand') ?></font></div>
        <div class='end-row'></div>
        <?php echo $this->getBrandLogoRows(); ?>
        <div class='end-row'></div>
        <div class='black-circle same-row-left'>2</div><font id='label-2' class='font-26 line-40 black bold'><?php echo Mage::helper('deven_randmar')->__('Choose your printer') ?></font>
        <div class='end-row'></div>
        <select id='printer-select' name='printer-select' class='printer-select'>
            <option selected disabled hidden>"<?php echo Mage::helper('deven_randmar')->__('Choose your printer') ?>"</option>
        </select>
        <input id='cartridge-number' class='cartridge-number' value='' placeholder="<?php echo Mage::helper('deven_randmar')->__('Tapez un num&eacute;ro de cartouche\'') ?>" />
        <div class='end-row'></div>
       <!-- <div class='black-circle same-row-left'>3</div><div id='search-button' onclick="alert('bonjour');" style='margin-bottom: 10px; width: 80%; background-color: #0092d5;' class='black-button same-row-left'><?php /*echo Mage::helper('deven_randmar')->__('Find Cartridges') */?></div>-->
        <!--<a href="/randmar/search/" class="black-button same-row-left search-button-randmar" onclick="this.href = '/search/' + document.getElementById('search-input').value">Localiser</a>-->

        <div class='black-circle same-row-left'>3</div><a class='black-button same-row-left' href='<?php echo $this->getBaseUrl() ?>randmar/index/printer/title/' style='margin-bottom: 10px; width: 80%;' onclick='var e = document.getElementById("printer-select"); var printer = e.options[e.selectedIndex].text;  printerRedirect(printer);'><?php echo Mage::helper('deven_randmar')->__('Find Cartridge') ?></a></div>
    <div class='end-row'></div>
    </div><!-- search-by-brand-container -->
<div class='search-results-container'>
    </div><!-- search-results-container -->
</div><!-- end of randmar-locator -->

