<?php $manufacturerPrinter = $this->getManufacturerPrinter(); ?>
<?php echo $this->getStyles(); ?>
<div id='randmar-locator' class='main-randmar-locator' siteurl='<?php echo $this->getBaseUrl() ?>'>
<div id='printer-info'>
    <div id='printer-pic'>
        <img class='img-printer' style='max-width: 150px;' id='printer-<?php echo $manufacturerPrinter->Id ?>' src='<?php echo $manufacturerPrinter->Picture ?>' alt='<?php echo $manufacturerPrinter->Title ?>'>
        </div><!-- printer-pic -->

    <div id='printer-name'>
        <div id='printer-name-contents'>
            <font class='bolder underline black'><?php echo $manufacturerPrinter->Title ?></font>
            <br/>&nbsp<br/>
            <?php if(!is_null($manufacturerPrinter->Color)) {
                echo $manufacturerPrinter->Color . '<br/>';
            }
            ?>

            <?php
            if(!is_null($manufacturerPrinter->Technology)){
            echo $manufacturerPrinter->Technology.'<br/>';
            }
            ?>
            </div><!-- printer-name-contents -->
       </div><!-- printer-name -->

    <div id='printer-properties'>

        <?php if($manufacturerPrinter->Fax){
            echo 'Fax'.'<br/>';
        }

        if($manufacturerPrinter->Scan){
            echo 'Scan'.'<br/>';
        }

        if($manufacturerPrinter->Copy) {
            echo Mage::helper("deven_randmar")->__("Copy") . '<br/>';
        }
        ?>
        </div><!-- printer-properties -->

        <div id='printer-count'>

            <?php
        if($manufacturerPrinter->NetworkWireless){
            echo Mage::helper("deven_randmar")->__('Wireless') .  '<br/>';
        }
        ?>
        <?php if($manufacturerPrinter->NetworkWired) : ?>
        Network Wired
        <br/>
        <?php endif ?>

        <?php if($manufacturerPrinter->Duplex) : ?>
         Duplex <br/>
        <?php endif  ?>
</div><!-- printer-count -->

</div><!-- printer-info -->

<br/>