<?php
/**
 * Created by PhpStorm.
 * User: NN
 * Date: 1/19/2018
 * Time: 11:13 PM
 */
echo $this->getStyles();
?>
<div class="page-title">
    <h1><?php echo Mage::helper('deven_randmar')->__('Search Page') ?></h1>
</div>
<div id='randmar-locator' siteurl='<?=$this->getBaseUrl()?>'>
    <div class='overlay'><div class='loading'><img src='<?= $this->getSkinUrl('/assets/imgs/loading-2.gif')?>'></div></div>
    <input id='search-input' class='search-input same-row-left' value='' placeholder='<?= Mage::helper('deven_randmar')->__('Type a cartridge number')?>' />
    <div id='search-button' class='black-button same-row-left search-button-randmar'><?= Mage::helper('deven_randmar')->__('Find Cartridge')?></div>
    <!--<a id='search-a' class='black-button same-row-left search-button-randmar' href='#' onclick='searchRedirect();'> <?/*= Mage::helper('deven_randmar')->__('LOCALISER')*/?></a>
    --><div class='end-row'></div>
    <div class='search-results-container'>
        </div><!-- search-results-container -->
    </div><br /><br /><!-- randmar-locator-->

<script type="text/javascript">
//	$ = jQuery;
		jQuery('#search-button').click(function() {
			u = jQuery('#randmar-locator').attr('siteurl') + 'randmar/ajax/index';
			u += '?l=randmar';
			u += '&a=srch';
			u += '&cn='+jQuery('.search-input').val();
			//u += '&id='+$('.printer-select').val();
            showLoading();
			jQuery.ajax({
				url: u,
				method: "POST",
				success: function(result) {

					if(jQuery('.cartridge-result').length>0){
						jQuery('.cartridge-result').remove();
					}
					if(jQuery('.no-results').length>0){
						jQuery('.no-results').remove();
					}
					if(jQuery('.cartridge-result-rule').length>0){
						jQuery('.cartridge-result-rule').remove();
					}

					jQuery('.search-results-container').html(result);
					if(jQuery('.from-backend').length>0) {
						jQuery('.from-backend').hide();
					}
					hideLoading();
                    addClickListenerToAddButton();
                    addEnterListenerToQtyInput();
				},
				error: function(result) {
					hideLoading();
				}
			});
		});


function showLoading() {
    //jQuery('.overlay').css('height','80%');
    rlh = jQuery('#randmar-locator').outerHeight();
    rlw = jQuery('#randmar-locator').outerWidth();
    lh = jQuery('.loading').outerHeight();
    lw = jQuery('.loading').outerWidth();
    ltm = (rlh - lh)/2;
    llm = (rlw -lw)/2;
    jQuery('.overlay').css('height',rlh + 100);
    jQuery('.loading').css('margin-top',ltm +50);
    jQuery('.loading').css('margin-left',llm);
}

function hideLoading() {
    jQuery('.overlay').css('height','0px');
}

function addClickListenerToAddButton() {
    jQuery('.add-button').click(function(event) {
        result = '.supply-'+jQuery(this).attr('id');
        pic = jQuery('.supply-'+jQuery(this).attr('id')+' .cartridge-pic img').attr('src');
        siteu = jQuery('#randmar-locator').attr('siteurl');
        /*if(pic.indexOf(siteu)>=0) {
         pic = pic.replace(siteu, '_siteu_');
         } else {
         pic = pic.replace('http','_h_');
         }*/
        //alert(result);
        u = jQuery('#randmar-locator').attr('siteurl') + 'randmar/ajax/add';
        u += '?id='+jQuery(this).attr('id');
        u += '&qty='+jQuery(result+' .quantity-input').val();
        u += '&pr='+jQuery(result+' .price').html().replace('jQuery','').replace('.','p');
        u += '&t='+jQuery(result+' .catridge-title').html();
        u += '&pic='+encodeURIComponent(pic);
        u = u.replace(/'/g,"_c_");
        u = u.replace(/\(/g,"_lp_");
        u = u.replace(/\)/g,"_rp_");
        //alert(u);
        //return;
        jQuery.ajax({
            url: u,
            method: "POST",
            success: function(result) {
                jQuery('body').append('<div class="pgtech-popup">Catridge added to shopping cart</div>');
                jQuery('.pgtech-popup').slideDown("slow").delay(1500).fadeOut('slow');
                //console.log(result);
                location.reload();
                /*displayShoppingCartQty();*/
                /*if(jQuery('#sc-quantity').length > 0){
                 jQuery('#sc-quantity').html(jQuery('#sc-quantity').html()*1+1);
                 }else{
                 jQuery('.et-cart-info').append('<div id="sc-quantity" class="blue-circle">1</div>');
                 }*/
                //Go to shopping cart
                //window.location.href = jQuery('a.et-cart-info').attr('href');
            },
            error: function(result) {
                hideLoading();
            }
        });
    });
}

function addEnterListenerToQtyInput() {
    jQuery('.quantity-input').keypress(function (e) {
        var key = e.which;
        var supply_id = '';
        if(key == 13) { // the enter key code
            classes = jQuery(this).parent().parent().attr('class').split(" ");

            for (index = 0; index < classes.length; index++) {
                //console.log(a[index]);
                if(classes[index].includes('supply')) {
                    supply_id = classes[index].substr(7);
                    break;
                }
            }

            jQuery('#'+supply_id).trigger('click');

            return;
        }
    });
}

function addClickListenerToBrands() {
    jQuery('.brands,.brand-logo').off('click');
    jQuery('.brands,.brand-logo').click(function(event, origin) {

        id = jQuery(this).attr('id');

        if(origin != "getAllBrandsPrinters") {
            jQuery('.brands,.brand-logo').removeClass('selected');
            jQuery(this).addClass('selected');

            if(printers_by_brand[id] !== undefined) {
                jQuery('#printer-select').html(printers_by_brand[id]);
                return;
            }
        }

        u = jQuery('#randmar-locator').attr('siteurl') + 'randmar/ajax/index';
        u += '?l=randmar';
        u += '&a=gpfbi';
        /*u += '&langu='+jQuery('html').attr('lang').substr(0,2);*/
        u += '&id='+id;
        jQuery.ajax({
            url: u,
            method: "POST",
            success: function(result, textStatus, jqXHR) {
                if( origin != "getAllBrandsPrinters" ) {
                    jQuery('#printer-select').html(result);
                }
                printers_by_brand[id] = result;
                getAllBrandsPrinters();
            }
        });
    });
}

function getAllBrandsPrinters() {

    brands = jQuery('.brands');
    if(brands.length == 0) brands = jQuery('.brand-logo');

    for (i = 0; i < brands.length; i++) {
        //bid = jQuery(jQuery('.brands')[i]).attr('id');
        bid = jQuery(brands[i]).attr('id');
        if(printers_by_brand[bid] === undefined) {
            //jQuery(jQuery('.brands')[i]).trigger('click',["getAllBrandsPrinters"]);
            jQuery(brands[i]).trigger('click',["getAllBrandsPrinters"]);
            break;
        }
    }

}

function displayShoppingCartQty() {
    u = jQuery('#my-header .locator-buttons-container').attr('siteurl') + 'randmar/ajax/index';
    u += '?l=randmar';
    u += '&a=gsq';
    u += '&langu='+jQuery('html').attr('lang').substr(0,2);
    jQuery.ajax({
        url: u,
        method: "POST",
        success: function(result) {
            if(jQuery('#sc-quantity').length > 0){
                jQuery('#sc-quantity').html(result);
            } else {
                jQuery('.et-cart-info').append('<div id="sc-quantity" class="blue-circle">'+result+'</div>');
            }
        }
    });
}

		/*function searchRedirect(){
            new_url = jQuery('#randmar-locator').attr('siteurl') + '/randmar/index/search/' + jQuery('#search-input').val() + '/';
            //alert(new_url);
            event.preventDefault();
            jQuery('#search-a').attr('href',new_url);
            window.location = new_url;
        }*/
	</script>
